site_name: Knowledgedatabase
theme:
  name: material
  palette: 
    scheme: slate
    primary: indigo
  features:
    - navigation.tabs
    - search.suggest
    - content.code.copy
markdown_extensions:
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.superfences

nav:
  - Home: index.md
  - Linux:
    - Basic Commands: linux/basic_commands.md
    - Storage Stack: linux/storage_stack.md
