[data-md-color-scheme="slate"] {
  --md-default-bg-color:          #282828; /* Gruvbox Dark Bg */
  --md-default-fg-color:          #ebdbb2; /* Gruvbox Light Fg */
  --md-default-fg-color--light:   #a89984;
  
  --md-primary-fg-color:          #d65d0e; /* Gruvbox Orange */
  --md-primary-fg-color--dark:    #af3a03;
  --md-primary-bg-color:          #ebdbb2;
  
  --md-accent-fg-color:           #fabd2f; /* Gruvbox Yellow */
}

/* Optional: Code-Blöcke anpassen */
.highlight {
    background-color: #1d2021 !important;
}